<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='styles/standby.css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src='scripts/standby.js'></script>
  </head>
  <body>
    <% redditPosts.forEach(function(post, i) { %>
      <div>
        <a class='cache' data-id='reddit-<%= i %>' href='<%= post.url %>'><%= post.title %></a>
        <iframe class='content' id='reddit-<%= i %>'></iframe>
      </div>
    <% }); %>

    <div id='html'>
    </div>
  </body>
</html>
