<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='styles/standby.css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src='scripts/standby.js'></script>
  </head>
  <body>
    <% redditPosts.forEach(function(post, i) { %>
      <div>
        <a class='cache' href='<%= post.url %>'><%= post.title %></a>
      </div>
    <% }); %>

    <div id='html'>
    </div>

    <script type='text/javascript'>
      $('#link').on('click', function() {
        $('#html').css('display', 'block');
      });
    </script>
  </body>
</html>
