body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

#html {
  display: none;
}
<<<<<<< HEAD
=======

#icon-section {
  height: 700px;
}

.left-stack {
  width: 160px;
  float: left;
  clear: left;
}

#logo {
  height: 5%;
}

.third-party {
  height: 30%;
}
<<<<<<< HEAD
>>>>>>> left sidebar
=======

#footer {
  text-align: center;
}
>>>>>>> more layout
