body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-color: #f5f5f5 !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-size: 64px;
  display: block;
  text-align: center;
  margin-top: 200px;
  color: #fff;
  font-weight: 100;
  letter-spacing: 0.01em;
}

h2 {
  font-size: 26px;
  display: block;
  color: #575757;
  font-weight: 100;
  margin-top: 12px;
  text-align: center;
  line-height: 32px; 
}

.pace {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  margin: auto;
  margin-top: 33px;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 225px;
  height: 25px; 
  border: 3px solid #fff;
  padding: 20px 80px;
  /*background-color: #fff; */
  background: none;
  border-radius: 0 !important;

  width: 200px;
  height: 25px; 
  border: 2px solid #29d;
  background-color: #fff; 
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

  -webkit-transition: width 1s ease-in-out 1s linear;
  -moz-transition: width 1s ease-in-out 1s linear;
  -ms-transition: width 1s ease-in-out 1s linear;
  -o-transition: width 1s ease-in-out 1s linear;
  transition: width 1s ease-in-out 1s linear;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  max-width: 190px;
  z-index: 2000;
  display: block;
  position: absolute; 
  left: 3px;
  top: 3px;
  height: 15px;
  font-size: 12px;
  background: #29d; 
  color: #29d;
  line-height: 60px;
  font-weight: bold;
  font-family:  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: inline-block;
}

.pace.pace-inactive {
  display: none;
}

.footer {
  position: absolute; 
  bottom: 0;
  width: 100%;
  height: 80px;
  display: block;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);

  z-index: -1;
}

#footer-text {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;  height: 100%; 
  margin-top: 30px;
  margin-bottom: 30px;
}

iframe {
  border: none;
  background-color: white;
  z-index: 1000;
}





.content {
  display: none;
}

.section-link {
  margin-left: 20px;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.upvotes {
  display: table-cell;
  text-align: -webkit-center;
  margin-right: 10px;
  padding-right: 20px;
  padding-top: 5px;
  vertical-align: middle;
  color: #858585;
}
.post-data {
  display: table-cell;
  max-width: 95%;
}

.site-link {
  font-weight: 300;
  line-height: 1.2;
  margin-right: 0.25em;
  font-size: 24px;
  color: #858585;
}
.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #858585;
}

.arrow-seen {
  border-bottom-color: #C1C1C1;
}
.website {
  font-weight: 200;
  font-size: 16px;
  color: #D3D3D3;
}

.comments {
  font-weight: 300;
  font-size: 14px;
  display: block;
  color: #C1C1C1;
}

.upvote {
  font-weight: 400;
  font-size: 14px;
}

.site-link-visited {
  color: #c1c1c1;
}

#content-section-wrap {
  background: white;
}

.content-section {
  display: none;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.active-section {
  display: block;
}

#footer {
  margin-top: 5px;
  text-align: center;
  font-weight: 100
}

.fucklightboxes {
  display: block;
  position: fixed;
  width: 100%;
  left: 100%;
  height: 100%;
  top: 0;
  -webkit-animation: slide 0.5s forwards;
  animation: slide 0.5s forwards;
}


@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

#progress {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #444;
  opacity: 0.8;
  z-index: 100;
  background-size:0%;
} 

#x {
  display: none;
  position: fixed; 
  top: 0;
  right: 0;
  width: 106px;
  height: 106px;
  z-index: 2000;
  cursor: pointer;
}

#icons {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    transition: all 0.1s ease-in;
    cursor: pointer;
    // -webkit-filter: grayscale(100%);
    // filter: grayscale(100%);
    opacity: 0.4;
    background-color: white;
    img {
      height: 106px;
      width: 106px;
    }
    &.selected {
      // -webkit-filter: grayscale(0);
      // filter: grayscale(0);
      opacity: 1;
    }
    &:not(.selected):hover {
      // background-color: white;
      opacity: 0.6;
    }
    &.logo {
      float: right;
    }
  }
}

.modal-images {
  width: 106px;
  height: 106px;
}

.modal-producthunt {
  cursor: pointer;
}

.last-line {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.last-line.done {
  opacity: 1;
}

#blurb-section {
  height: 450px;
  padding: 0;
  margin: 0;
  background-image: url('/images/skynew.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#big-logo {
  padding: 40px;
}

.share {
  position: absolute;
  right: 0;
  z-index: 0;
  iframe {
    background-color: transparent;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.animate {
  animation-duration: 1s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  position: absolute;
  width: 100%;
  height: 100%;
}

.landing {
  animation-name: fadeOut;
}

.index {
  animation-name: fadeInUp;
  animation-delay: 0.25s;
}

#index {
  opacity: 0;
}
