body {
  margin: 0;
  padding: 0;
  background-color: #eee; }

iframe {
  border: none;
  background-color: white;
  z-index: 1000; }

#html {
  display: none; }

.content {
  display: none;
  width: 100%;
  height: 200px; }

.cache {
  text-decoration: none;
  color: #444; }

.cache:visited {
  color: #444; }

.cache.loaded {
  color: limegreen; }

#icon-section {
  height: 900px;
  width: 160px;
  float: left; }

#link-section {
  width: 700px;
  margin-left: 160px; }

.left-stack {
  float: left;
  clear: left; }

#logo {
  height: 5%; }

.third-party {
  height: 30%; }

#footer {
  margin-top: 5px;
  text-align: center; }

.fucklightboxes {
  display: block;
  position: fixed;
  width: 96%;
  right: 2%;
  height: 90%;
  top: 5%; }

#overlay.dark {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #444;
  opacity: 0.8;
  z-index: 100; }
