body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

#html {
  display: none;
}

.content {
  display: none;
  width: 100%;
  height: 200px;
}

.cache {
  text-decoration: none;
  color: #444;
}

.cache:visited {
  color: #444;
}

.cache.loaded {
  color: limegreen;
}

#icon-section {
  height: 900px;
}

.left-stack {
  width: 160px;
  float: left;
  clear: left;
}

#logo {
  height: 5%;
}

.third-party {
  height: 30%;
}
