* {
  font-family: "Helvetica Neue LT STD", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5 !important;
}

iframe {
  border: none;
  background-color: white;
  z-index: 1000;
}

.content {
  display: none;
}

.section-link {
  margin-left: 20px;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.site-link {
  font-weight: 300;
  line-height: 1.2;
  margin-right: 0.25em;
  font-size: 24px;
  color: #858585;
}

.website {
  font-weight: 200;
  font-size: 16px;
  color: #D3D3D3;
}

.comments {
  font-weight: 300;
  font-size: 14px;
  display: block;
  color: #C1C1C1;
}

.upvote {
  font-weight: 400;
  font-size: 14px;
}

.cache:visited {
  color: #444;
}

.cache.loaded {
  color: limegreen;
}

#logo {
  height: 5%;
  margin-bottom: 10px;
}

.left-text {
  text-align: center;
}

.third-party {
  height: 30%;
}

#content-section-wrap {
  background: white;
}

.content-section {
  display: none;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.active-section {
  display: block;
}

#footer {
  margin-top: 5px;
  text-align: center;
  font-weight: 100
}

.fucklightboxes {
  display: block;
  position: fixed;
  width: 96%;
  right: 2%;
  height: 90%;
  top: 5%;
}

#overlay {
  // opacity: 0;
  // transition: opacity 0.5s ease-in;
}

#overlay.dark {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #444;
  opacity: 0.8;
  z-index: 100;
}

#icons-section {
}

#icons {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    transition: all 0.1s ease-in;
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.4;
    background-color: white;
    img {
      height: 106px;
      width: 106px;
    }
    &.selected {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      opacity: 1;
    }
    &:not(.selected):hover {
      // background-color: white;
      opacity: 0.6;
    }
    &.logo {
      float: right;
      padding: 30px 75px;
    }
  }
}
