$white: #fff;
$black: #000;
$red: #f00;

#x {
  position: fixed;
  width: 100px;
  height: 100px;
  background-color: $black;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 1;
}

#iframes {
  position: relative;
}

.content {
  background-color: $white;
  position: absolute;
  border: 0;
  display: block;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: transform .5s ease-in-out;
}

.show {
  transform: translateX(0);
}

#progress {
  background-color: $red;
  height: 150px;
  width: 0;
  transition: width .2s linear;
}

h1 {
  margin: 0;
}
